{% if content.top %}
    <div class="container">
        {{ content.top }}
    </div>
{% endif %}
{% if content.bottom %}
    <div class="container">
        {{ content.bottom }}
    </div>
{% endif %}
